body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.div--form{
    width: 400px;
    border-radius: 10px;
}

.div--icon-dec{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px;
}

.size-circle{
    width: 40px;
    height: 40px;
}

.icon__child{
    padding-top: 5px;
}

.price-pro{
    margin-left: 25px;
    text-decoration-line: line-through;
}

.card-size{
    width: 210px;
}

.link_color{
    color: white;
}
.decoration-line:hover{
    color: rebeccapurple;
    text-decoration-line: none;

}

i.position-absolute{
    right: 5px;
    top: 3px;
}

/* button */

.btn{
    font-size: 18px;
}

.sub-text{
    font-size: 14px;
}

/* table */
.td-quantity{
    width: 50px;
}

/* radio custom */
.div-custom{
    height: 50px;
}

/* sidebar admin*/
.div--sidebar{
    background-color: red;
    background-attachment: fixed;
}


